@tailwind base;
@tailwind components;
@tailwind utilities;

:root,
html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  background-color: #171717;
}